<!-- <p>home works!</p>
<div class="grid grid-cols-3">
<ul>
    @for (livro of livros();track livro.id) {
       <div > <li>{{livro.nome}}</li>
        <li>{{livro.id}}</li>
        </div>
    }
</ul>

div
</div> 
 -->
<div class="grid grid-cols-3">
    <div class="col-span-1">
        <ul>
    @for (livro of livros();track livro.id) {
       <div > <li>{{livro.nome}}</li>
        <li>{{livro.id}}</li>
        </div>
    }
</ul>
    </div>
    <div class="col-span-1">
        <form class="w-full max-w-sm">
  <div class="flex items-center border-b border-teal-500 py-2">
    <input #idInput class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="number" aria-label="id" >
    <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="button" (click)="buscarId(idInput.value)">
      buscar
    </button>
    <button class="flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded" type="button">
      Cancel
    </button>
  </div>
</form>

<p>{{ livroEncontrado()?.nome }} </p>
    </div>
    <div class="col-span-1"></div>
</div>